<% layout('layouts/boilerplate-admin.ejs') %>

<div class="main-wrapper">
  <!-- Sidebar Partial -->
  <nav class="sidebar">
    <ul class="list-unstyled">
      <li><a href="/admin/dashboard">Dashboard</a></li>
      <li><a href="/admin/gallery">Gallery</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="page-wrapper">

    <!-- Navbar Partial -->
    <nav class="navbar">

    </nav>
    <div class="page-content">
      <h1>Admin Dashboard</h1>

      <p>Welcome to the admin dashboard!</p>
    </div>
  </div>
</div>