<% layout('layouts/boilerplate') %>

<main id="main" data-aos="fade" data-aos-delay="1500">

  <!-- ======= End Page Header ======= -->
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Services</h2>
          <p>Welcome to Eeyman's Photography World! Here, every click is a labor of love, where moments become memories, emotions are etched in pixels, and stories unfold frame by frame. What started as a passion project has blossomed into a heartfelt journey of capturing life's beauty and sharing it with the world.</p>

          <a class="cta-btn" href="contact.html">Let's connect!</a>

        </div>
      </div>
    </div>
  </div><!-- End Page Header -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing mt-0">
    <div class="container">

      <div class="section-header">
        <h2>Prices</h2>
        <p>Check my adorable pricing</p>
      </div>

      <div class="row gy-4 gx-lg-5">

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Portrait Photography</h3>
            <h4>₦160.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Fashion Photography</h3>
            <h4>₦300.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Sports Photography</h3>
            <h4>₦200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Still Life Photography</h3>
            <h4>₦120.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Wedding Photography</h3>
            <h4>₦500.00</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Photojournalism</h3>
            <h4>₦200.00</h4>
          </div>
        </div><!-- End Pricing Item -->

      </div>
  </section><!-- End Pricing Section -->

</main><!-- End #main -->